.header {color: #AEBACB;
            font-size: 15px;
            background-color: lightyellow;
            font-family: monospace;
            font-weight: bolder;
            text-align: center;
            width: 800px;
            margin-left: auto;
           margin-right: auto;
            padding: 2px}

table, th, td{border-color:red;
        border-style: solid;
        text-align: center;
        background-color: beige;
        font-size: 20px;}
        
        .guide {position: relative;
                top: 50px; 
                left: 30px;
            width: 830px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: azure;
            text-align: left;
            border: 1px solid red;
        line-height: 25px}
        
        .supplies {position: fixed;
                top: 255px; 
                left: 970px;
            width: 400px;
            text-align: left;
            padding-left: 20px;
        border: 1px dotted red;
        background-color: azure;}
        
        .navigation {position: relative;
            top: 20px;
            text-align: center;
            font-size: 17px;}
        
        .navigation a:hover {background-color: #ddd;
  color: black}
        
        .navigation a:active {background-color:#ddd;
  color: #ddd;}
        
        h1{
            padding: 20px;
            margin: 30px;
            border: 5px dashed red;
            background-color: lightyellow;
            border-radius: 20px;
            text-align: center;
        }
        h2{
            color: #AEBACB;
            font-size: 15px;
            background-color: lightyellow;
            font-family: monospace;
            font-weight: bolder;
            text-align: center;
        }
    .door {
        width: 130px;
        height: 195px;
        position:relative;
        display: inline-block;
        display: block;
        margin-left: auto;
        margin-right: 48%;
        margin-bottom: 300px;
    }
    
    .door .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0px;
    }
    .door:hover .img-top {
        display: inline;
    }
    .door:hover .img-btm {
        display: inline;
        opacity: 0;
    }
   body{background-image: url(cuteanimals.jpg);
    background-size:1200px}
    
    footer {color: black;
            height: 60px;
            width: 100%;
            font-size: 10px;
            font-weight: bolder;
            position: relative; 
            bottom: 0%;}

.left {text-align: left;
        left: 5%;}
.right {text-align: right;
        right: 5%;}
  
    .subheader {position: relative;
                top: -510px; 
            width: 300px;
            text-align: center;
            font-size: 15px;
        margin-left: auto;
        margin-right: auto;
        font-family: monospace;
        color: black;
        font-weight: bolder;}

.doll {height:auto;
        width: auto;
        position:relative;
        justify-content: center;
        align-items: center;
    padding-left: 7%;}

